@model aspmvc.Models.ProductModel

@{
    
}

<div class="card bg-success text-white">
    <h1 class="card-header">Xin Chao</h1>
    <div class="card-body">
        <h5 class="card-title">@Model.ProductName</h5>
        <p class="card-text">@Model.ProductPrice</p>
    </div>
</div>

